.block_progress_bar{
    background-color: white;
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.431);
    border-radius: 10px;
    position: relative;
    height: 100%;
    width: 100%;
}

.block_progress_bar_c1{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    left: 20px;
}

.block_progress_bar_c1 .black_text{
    color: black;
}

.block_progress_bar_c1 .gray_text{
    color: gray;
}

.progress-bar {
    width: 100px;
    height: 100px;
    color: white;
    position: absolute;
    right: 20px;
    top: 20px;
  }
