.analytics_page_h1{
    color: black;
    padding-top: 20px;
    padding-left: 40px;
}

.wrap_charts{
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
    /* grid-template-columns: 20% 20% 40%; */

}

.chart1{
    /* background-color: brown; */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.chart2{
    /* background-color: brown; */
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.chart3{
    /* background-color: brown; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.chart4{
    /* background-color: brown; */
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.chart5{
    /* background-color: brown; */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.chart6{
    /* background-color: brown; */
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}