h1{
    color: black;
}

.home_page{
    min-height: 2000px;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
}

.home_page_c1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.bar_chart{
    margin-top: 40px;
}