.home_page{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}


.home_page_container{
    top: 20px;
    display: grid;
    gap: 20px;
    /* justify-items: stretch; */
    /* justify-self: start; */
    grid-template-columns: 20% 20% 40%;

    /* width: 1000px;
    height: 500px; */
}

.home_page_c1{
    /* background-color: brown; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.home_page_c2{
    /* background-color: brown; */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.home_page_c3{
    /* background-color: brown; */
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.home_page_c4{
    /* background-color: brown; */
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.home_page_c5{
    /* background-color: rgb(116, 12, 12); */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 4;
}

 /* .home_page_c6{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}  */


