.chart_block{
    box-shadow: 0px 0px 4px gray;
    border-radius: 10px;
    min-width: 500px;
    min-height: 300px;
    background-color: white;
    padding: 20px;
    margin: 20px;
    position: relative;
}

.title{
    color: black;
    position: absolute;
    left: 20px;
    top: 20px;
}

.btn{
    position: absolute;
    color: gray;
    right: 20px;
    top: 20px;
}