.chart_block{
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.431);
    
    border-radius: 10px;
    /* min-width: 400px;
    min-height: 300px; */
    background-color: white;
    position: relative;
}

.title{
    color: black;
    position: absolute;
    left: 20px;
    top: 20px;
}

.btn{
    position: absolute;
    color: gray;
    right: 20px;
    top: 20px;
    float:left;
}

.bar_chart{
    margin-inline: 10px;
    margin-bottom: 10px;
    margin-top: 80px;
    width: 100px;
    height: 100px;
}