
*{
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.wrap_outlet{
    position: absolute;
    left: 150px;
    top: 60px;
    right: 0px;
}


